# Expo
.expo/
dist/
web-build/

# Build artifacts
*.tar.gz
webapp-dist.tar.gz

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Env
.env
.env.local

# Logs
*.log

# User uploads (local dev only)
public/uploads/*
!public/uploads/.gitkeep
